#customer{
	background-image:url(../images/bg3.png);
	color:lighten($gray, 30%);
	.row{
		padding-top:25px;
		padding-bottom:25px;
	}

	h2{
		font-weight: 700;
		color:$gray;
	}
	p{
		font-size: 1.2em;
	}
	span{
		font-weight: 800;
	}

}