#header .col-md-6 {
  background-color: gray;
}
#header .col-md-6 .height {
  height: 70px;
}
#header .col-md-6 .pullRight {
  float: right;
}
#header .col-md-6 .pullLeft {
  float: left;
}
#header .col-md-6 #head {
  height: 50px;
}
#header .col-md-6 .bringToCenter {
  margin: 0 auto;
}
#header .col-md-6 .margin {
  margin-left: 20px;
}

#slider {
  background-image: url("../images/bg2.jpg");
  background-size: cover;
}
#slider .carousel-text {
  color: #414547;
  padding-top: 10%;
}
#slider .carousel-text span {
  color: #31A3DD;
}
#slider .carousel-text h1 {
  font-weight: 900;
}
#slider .carousel-text h6 {
  color: white;
  font-weight: 900;
}
#slider .carousel-text h4 {
  font-weight: 900;
}

#news .mainColor {
  background-color: white;
}
#news .content {
  padding: 50px 0;
}
#news i {
  position: absolute;
  top: 10px;
}

#about {
  background-image: url(../images/bg.png);
  color: white;
}
#about .row {
  padding-top: 25px;
}
#about .row h2 {
  font-weight: 700;
}
#about i {
  border-radius: 50%;
  border: 1px solid #31A3DD;
  height: 35px;
  width: 35px;
  display: inline-block;
  padding: 10px;
  color: #31A3DD;
}
#about img {
  width: 100%;
  margin-bottom: -16px;
}
#about ul {
  list-style-type: none;
  padding: 0;
}
#about li {
  line-height: 50px;
  font-weight: 700;
}

#service {
  padding: 30px 0;
  text-align: center;
}
#service .col-md-3 {
  padding: 20px;
}
#service .col-md-3 div {
  border: 2px solid gray;
  --width: 20%;
  height: 400px;
}
#service .marginTop {
  margin-top: 40px;
}

#customer {
  background-image: url(../images/bg3.png);
  color: #8c9295;
}
#customer .row {
  padding-top: 25px;
  padding-bottom: 25px;
}
#customer h2 {
  font-weight: 700;
  color: #414547;
}
#customer p {
  font-size: 1.2em;
}
#customer span {
  font-weight: 800;
}

#static .col-md-6 {
  --width: 44%;
  --height: 300px;
}

#static .margin {
  --margin-left: 30px;
}

#static .margin2 {
  padding: 0 10px;
}

#static {
  --margin-left: 5px;
  padding: 30px 0;
}

#static .col-md-4 div {
  padding: 20px 0;
  height: 135px;
  --width: 30%;
  background-color: #31A3DD;
}

#static .marginTop {
  margin-top: 10px;
}

#static .col-md-4 h1 {
  text-align: center;
  --margin-top: 40px;
  color: white;
}

#static .col-md-4 h6 {
  text-align: center;
  --margin-top: 10px;
  color: white;
}

#static i {
  margin-left: 250px;
}

#updated .row {
  padding: 10px;
}
#updated .line {
  border-bottom: 1px solid #dcdedf;
  color: #dcdedf;
  height: 0;
  margin-top: 15px;
}
#updated i {
  color: #dcdedf;
}
#updated h3 {
  font-weight: 700;
  font-size: 1.4em;
  color: #414547;
}
#updated h6 {
  color: #8c9295;
  font-size: 0.9em;
}
#updated .second-row .img-panel {
  height: 185px;
  color: white;
  position: relative;
}
#updated .second-row .img-panel img {
  width: 100%;
  height: 185px;
}
#updated .second-row .img-panel .cover {
  position: absolute;
  top: 0;
  padding: 15px;
  height: 185px;
  background-color: rgba(0, 0, 0, 0.3);
}
#updated .second-row .img-panel .cover:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#updated .second-row .img-panel .cover a {
  background-color: #31A3DD;
  float: right;
  color: white;
  padding: 0 5px;
  padding: 3px 8px;
  display: inline-block;
}
#updated .second-row .img-panel .cover a:after {
  content: "";
  border-bottom: 0 solid transparent;
  border-right: 10px solid transparent;
  border-top: 11px solid #31A3DD;
  border-left: 0px solid transparent;
  margin-bottom: -17px;
  display: inline-block;
  margin-left: -10px;
}
#updated .second-row .img-panel .cover h2 {
  clear: both;
  margin-top: 75px;
  font-weight: 700;
  font-size: 1.24em;
}

#partner {
  background-color: white;
}

#partner .content {
  padding: 30px 0;
}

#partner h4 {
  text-transform: uppercase;
  font-weight: 700;
}

#partner h6 {
  padding: 20px 0;
  font-style: italic;
}

#partner .col-md-3 {
  float: left;
}

#partner .col-md-3 :hover {
  background-color: lightgray;
  transition: 1s;
}

#partner .col-md-3 {
  height: 120px;
  width: 240px;
  background-color: #E1E4E6;
}

#partner img {
  margin-top: 30px;
}

#partner .margin {
  margin-left: 40px;
}

#partner .col-md-5 {
  width: 45%;
  opacity: 0.5;
}

#partner i {
  margin-left: 10px;
}

#partner .col-md-2 {
  width: 10px;
  opacity: 0.5;
}

#partner .col-md-10 {
  border: 1px solid #9E9E9E;
  width: 85%;
  height: 150x;
  margin-left: 90px;
}

#partner .col-md-010 {
  border: 1px solid #9E9E9E;
  height: 120px;
  margin-top: 10px;
}

#partner .col-md-010 h3 {
  margin-left: 20px;
}

#partner .col-md-010 h5 {
  margin-left: 20px;
  color: #9E9E9E;
}

#partner .button {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -45px  20px;
}

#footer .main {
  background-color: #414547;
  color: #a6abae;
  font-size: 0.9em;
  line-height: 1.8em;
}
#footer .main .border {
  border-bottom: 1px solid #595f62;
}
#footer .main .padding {
  padding: 15px 0;
}
#footer .main .width {
  width: 100%;
  height: 45px;
  border-radius: 3px;
}
#footer .main h1 {
  font-size: 4em;
  font-weight: 900;
  color: white;
}
#footer .main h2 {
  border-bottom: 2px solid #595f62;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 38px;
}
#footer .main span {
  border-bottom: 2px solid #31A3DD;
  height: 41px;
  display: inline-block;
  margin-bottom: -2px;
}
#footer .main img {
  margin-right: 15px;
}
#footer .main h4 {
  font-size: 1em;
  color: white;
  font-weight: 600;
}
#footer .second {
  background-color: #35383A;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 0.9em;
}
#footer .second li, #footer .second p {
  color: #5B5C5C;
}
#footer .second a {
  color: #5B5C5C;
  padding-right: 5px;
  padding-left: 5px;
}

/*# sourceMappingURL=style.css.map */
