
body {
	font-family: tahoma;
}
#header .col-md-6{
	background-color: gray;
}

.fullWidth{
	width:100%;
}
.height{
	height:70px;
}
.pullRight{
	float:right;
}
.pullLeft{
	float:left;
}
#head {
	height: 50px;
}
.bringToCenter{
	margin:0 auto;
}
.margin{
	margin-left: 20px;
}