#static .col-md-6{
width:44%;
height:300px;

}
#static .margin{
	margin-left: 30px;
}
#static .margin2{
	margin-left: 10px;
}
#static {
	margin-left: 5px;
}
#static .col-md-2{
	
	height: 135px;
	width: 30%;
	background-color:#31A3DD
}
#static .marginTop{
	margin-top:10px;
}
#container{
	width: 20%
}
#static .col-md-2 h1{
	text-align: center;
	margin-top: 40px;
	color:white;
}
#static .col-md-2 h6{
	text-align: center;
	margin-top: 10px;
	color:white;
}
#static i{
	margin-left: 250px;
}
